<div id="calculator-body">
  <input
    type="text"
    *ngIf="isEqualsPressed"
    placeholder="{{output}}"
    readonly
  />
  <input
    type="text"
    *ngIf="isOperatorPressed && !isEqualsPressed"
    placeholder="{{num2Disp}}"
    readonly
  />
  <input
    type="text"
    *ngIf="!isOperatorPressed && !isEqualsPressed"
    placeholder="{{num1Disp}}"
    readonly
  />
  <button type="button" id="clear_btn" (click)="clear()">C</button>
  <button type="button" (click)="divide()">÷</button>

  <button type="button" style="margin-left: 30px" (click)="inputNum(7)">7</button>
  <button type="button" (click)="inputNum(8)">8</button>
  <button type="button" (click)="inputNum(9)">9</button>
  <button type="button" (click)="multiply()">x</button>

  <button type="button" style="margin-left: 30px" (click)="inputNum(4)">4</button>
  <button type="button" (click)="inputNum(5)">5</button>
  <button type="button" (click)="inputNum(6)">6</button>
  <button type="button" (click)="subtract()">-</button>

  <button type="button" style="margin-left: 30px" (click)="inputNum(1)">1</button>
  <button type="button" (click)="inputNum(2)">2</button>
  <button type="button" (click)="inputNum(3)">3</button>
  <button type="button" (click)="add()">+</button>

  <button type="button" id="zero_btn" (click)="inputNum(0)">0</button>
  <button type="button" id="equals_btn" (click)="equals()">=</button>
</div>
