<div id="calculator-body">
  <input
    type="text"
    *ngIf="isEqualsPressed"
    placeholder="{{output}}"
    readonly
  />
  <input
    type="text"
    *ngIf="isOperatorPressed && !isEqualsPressed"
    placeholder="{{num2Disp}}"
    readonly
  />
  <input
    type="text"
    *ngIf="!isOperatorPressed && !isEqualsPressed"
    placeholder="{{num1Disp}}"
    readonly
  />
  <button type="button" id="clear_btn" (click)="clear()">C</button>
  <button type="button" (click)="divide()">÷</button>

  <button type="button" style="margin-left: 30px" (click)="seven()">7</button>
  <button type="button" (click)="eight()">8</button>
  <button type="button" (click)="nine()">9</button>
  <button type="button" (click)="multiply()">x</button>

  <button type="button" style="margin-left: 30px" (click)="four()">4</button>
  <button type="button" (click)="five()">5</button>
  <button type="button" (click)="six()">6</button>
  <button type="button" (click)="subtract()">-</button>

  <button type="button" style="margin-left: 30px" (click)="one()">1</button>
  <button type="button" (click)="two()">2</button>
  <button type="button" (click)="three()">3</button>
  <button type="button" (click)="add()">+</button>

  <button type="button" id="zero_btn" (click)="zero()">0</button>
  <button type="button" id="equals_btn" (click)="equals()">=</button>
</div>
